
#wrp1{
	padding-left:100px;
	margin-top:-19px;
	margin-left:0 auto;
	margin-right:0 auto;
	margin-bottom:-70px;
	background-color:#A9A9A9;
}

#wrp2{
	padding-top:30px;
	padding-left:0px;
	padding-bottom:80px;
}

#wrp3{
	padding-bottom:120px;
}

#wrp6{
	padding-top:25px;
	
}
#wrp4{
	padding-bottom:80px;
}
#wrp5{
		padding-bottom:60px;
}


// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
