<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Email</Data></Cell>
        <Cell><Data ss:Type="String">IN_Date</Data></Cell>
        <Cell><Data ss:Type="String">Total_Work_Hour</Data></Cell>
      </Row>
    <% @attendences.each do |attendence| %>
      <Row>
        <Cell><Data ss:Type="String"><%= User.find(attendence.user_id).email %></Data></Cell>
        <Cell><Data ss:Type="Date"><%= attendence.in_date %></Data></Cell>        
        <Cell><Data ss:Type="String"><%= attendence.workhour %></Data></Cell>
        
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

